<form method="post" action="{{ path('app_relay_delete', {'id': relay.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ relay.id) }}">
    <button class="btn">Delete</button>
</form>
